{% load static %}
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">

<link rel="stylesheet" href="{% static 'styleiz.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous" referrerpolicy="no-referrer"/>

<header class="main-header">
    <nav class="navbar">
        <div class="nav-links">
            <a href="{% url 'home' %}" class="nav-item">
                <i class="fas fa-home"></i> Home
            </a>
            <a href="{% url 'get_selection' %}" class="nav-item"> <i class="fas fa-cog"></i> Change Genres
            </a>
            <a href="{% url 'logout' %}" class="nav-item logout-btn">
                <i class="fas fa-sign-out-alt"></i> Logout
            </a>
            

            {% if user.is_authenticated %}  <span class="user-greeting">
                    Hello, {{ user.username }}!  </span>
            {% endif %}

        </div>
    </nav>
</header>



   

